<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Facility">
    <select id="getAllFacilityAllInfo" resultType="Dto.adg.FacilityDto">
        SELECT 
			f.*, 
			fb."CONTENTS" AS "FACILITY_TYPE_KOREAN", 
			f."FACILITY_SCALE" || '종' as "FACILITY_SCALE_KOREAN", 
			db."CONTENTS" as "DAMAGE_TYPE_KOREAN", 
			d."SEVERITY", 
			d."DAMAGE_CNT", 
			d."INSPECTOR_ID", 
			d."DESCRIPTION", 
			d."REPORTED_DATE"
		FROM facility f
		LEFT JOIN bunryu fb ON f."FACILITY_TYPE" = fb."MCD" and fb."BCD" = 200
		LEFT join damage d on f."FACILITY_ID" = d."FACILITY_ID"
		LEFT JOIN bunryu db ON d."DAMAGE_TYPE" = db."MCD" and db."BCD" = 300
		ORDER BY f."FACILITY_ID"
    </select>
    
    <select id="getAllFacility" resultType="Dto.adg.FacilityDto">
        SELECT * FROM Facility LIMIT ${size} OFFSET ${page}
    </select>
    <select id="getAllFacilityCnt" resultType="int">
        SELECT count(*) FROM Facility
    </select>
    
    <select id="getSearchFacility" resultType="Dto.adg.FacilityDto">
        SELECT * FROM Facility 
        <choose>
            <when test="facilityDto.searchType == 'FACILITY_ID'">
                WHERE "FACILITY_ID" = CAST(#{facilityDto.searchValue} AS INTEGER)
            </when>
            <when test="facilityDto.searchType == 'FACILITY_NAME'">
                WHERE "FACILITY_NAME" LIKE '%' || #{facilityDto.searchValue} || '%'
            </when>
            <when test="facilityDto.searchType == 'ADDRESS'">
                WHERE "ADDRESS" LIKE '%' || #{facilityDto.searchValue} || '%' 
                OR "REGION" LIKE '%' || #{facilityDto.searchValue} || '%'
            </when>
            <when test="facilityDto.searchType == 'YEAR_BULIT'">
                WHERE EXTRACT(YEAR FROM "YEAR_BUILT") = CAST(#{facilityDto.searchValue} AS INTEGER)
            </when>
        </choose>
        LIMIT ${size} OFFSET ${page}
    </select>
    <select id="getSearchFacilityCnt" resultType="int">
        SELECT count(*) FROM Facility 
        <choose>
            <when test="searchType == 'FACILITY_ID'">
                WHERE "FACILITY_ID" = CAST(#{searchValue} AS INTEGER)
            </when>
            <when test="searchType == 'FACILITY_NAME'">
                WHERE "FACILITY_NAME" LIKE '%' || #{searchValue} || '%'
            </when>
            <when test="searchType == 'ADDRESS'">
                WHERE "ADDRESS" LIKE '%' || #{searchValue} || '%' 
                OR "REGION" LIKE '%' || #{searchValue} || '%'
            </when>
            <when test="searchType == 'YEAR_BULIT'">
                WHERE EXTRACT(YEAR FROM "YEAR_BUILT") = CAST(#{searchValue} AS INTEGER)
            </when>
        </choose>
    </select>
    
    <select id="getAllFacilityType" resultType="Dto.adg.BunryuDto">
        SELECT * FROM bunryu 
        WHERE "BCD" = 200 AND "MCD" != 999
    </select>
    <select id="getFacilityType" resultType="int">
        SELECT "MCD" FROM bunryu 
        WHERE "BCD" = 200 AND "CONTENTS" = #{typeKorean}
    </select>
    
    <select id="getDamageTypeOfFacility" resultType="Dto.adg.BunryuDto">
        SELECT * FROM bunryu 
        WHERE "BCD" = ${facilityType} AND "MCD" != 999
    </select>
    
    <!-- 등록하고 등록된 시설물ID를 반환 -->
    <insert id="insertFacility" parameterType="Dto.adg.FacilityDto" useGeneratedKeys="true" keyProperty="facilityId">
	    INSERT INTO Facility (
	        "FACILITY_NAME", 
	        "FACILITY_TYPE", 
	        "FACILITY_SCALE",
	        "GEOM",
	        "REGION",
	        "ADDRESS",
	        "YEAR_BUILT"
	    ) VALUES (
	        #{facilityName},
	        #{facilityType},
	        #{facilityScale},
	        ST_GeomFromText('POINT(' || #{facilityGeomX} || ' ' || #{facilityGeomY} || ')', 5186),
	        #{region},
	        #{address},
	        #{yearBuilt}
	    )
	</insert>
	
	<resultMap id="facilityWithDamageMap" type="Dto.adg.FacilityDto">
    	<id property="facilityId" column="FACILITY_ID"/>
    	<result property="facilityName" column="FACILITY_NAME"/>
	    <result property="facilityTypeKorean" column="FACILITY_TYPE_KOREAN"/>
	    <result property="facilityScale" column="FACILITY_SCALE"/>
	    <result property="geom" column="GEOM"/>
	    <result property="region" column="REGION"/>
	    <result property="address" column="ADDRESS"/>
	    <result property="yearBuilt" column="YEAR_BUILT"/>
	    <collection property="damageList" ofType="Dto.adg.DamageDto">
        	<id property="damageId" column="DAMAGE_ID"/> 
	        <result property="severity" column="SEVERITY"/>
	    	<result property="damageTypeKorean" column="DAMAGE_TYPE_KOREAN"/>
	        <result property="damageCnt" column="DAMAGE_CNT"/>
	        <result property="inspectorId" column="INSPECTOR_ID"/>
	        <result property="description" column="DESCRIPTION"/>
	        <result property="reportedDate" column="REPORTED_DATE"/>
	    </collection>
	</resultMap>
    <select id="getFacilityById" resultMap="facilityWithDamageMap">
    	SELECT f.*, 
			fb."CONTENTS" AS "FACILITY_TYPE_KOREAN", 
			db."CONTENTS" as "DAMAGE_TYPE_KOREAN", 
			d."DAMAGE_ID", 
			d."SEVERITY", 
			d."DAMAGE_CNT", 
			d."INSPECTOR_ID", 
			d."DESCRIPTION", 
			d."REPORTED_DATE"
        FROM facility f 
		LEFT JOIN bunryu fb ON f."FACILITY_TYPE" = fb."MCD" and fb."BCD" = 200
		LEFT join damage d on f."FACILITY_ID" = d."FACILITY_ID"
		LEFT JOIN bunryu db ON d."DAMAGE_TYPE" = db."MCD" and db."BCD" = 300 
        WHERE f."FACILITY_ID" = ${facilityId}
    </select>
    
</mapper>